.a1{
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
    top: 20px;
    left: 150px;
    z-index: -1;
}
.a2{
    background-color: chartreuse;
    height: 200px;
    width: 200px;
    position: relative;
    top: -50px;
    left: 250px;
    z-index: 0;
}
.a3{
    background-color: darkgoldenrod;
    height: 200px;
    width: 200px;
    position: relative;
    top: -100px;
    left: 350px;
    z-index: 1;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(206,27,84,0.999964951801033) 50%, rgba(0,212,255,1) 100%);
}